* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    cursor: pointer;
    outline: none;
    border: none;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.TodoList {
    margin-top: 100px;
}

.todoList_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #3D3D3D;
}

.addBtn_AllFilter {
    display: flex;
    justify-content: space-between;
}

.add_btn {
    width: 129px;
    height: 42px;
    padding: 10px 25px;
    border-radius: 6px;
    background-color: #325ECD;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
}

.section {
    width: 159px;
    height: 42px;
    padding: 10px 25px;
    border-radius: 6px;
    background-color: #D7D8DA;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: black;
}

.box {
    margin-top: 40px;
    background-color: #d7d8da67;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}

.input {
    width: 500px;
    height: 42px;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #CDD1DD;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}
.input2 {
    width: 300px;
    height: 42px;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #CDD1DD;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-item {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.task-item.completed .task-text {
    text-decoration: line-through;
}

.task-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit {
    margin-left: 340px;
    padding: 8px;
    border-radius: 6px;
}

.delete {
    padding: 8px 10px;
    border-radius: 6px;
}

.task-text {
    padding-top: 5px;
}

.filterTasks {
    width: 120px;
}